<app-admin></app-admin>

<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" [(ngModel)]="name" placeholder="Enter Name"  />
                        </div>
                        <div class="input-field col s12">
                            <input type="text" [(ngModel)]="remarks" placeholder="Enter Remarks"  />
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn" (click)="save();"> Guardar </button>
                        <button class="btn right" (click)="resetForm();" > Limpiar </button>
                    </div>
                    <input type="hidden" [(ngModel)]="idSerie" />
                </div>
            </div>
        </div>

        <div class="col s7">
            <table>
                <thead>
                    <Th>Id</Th>
                    <th>Name</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let season of seasons">
                        <td> {{ season.id}} </td>
                        <td> {{ season.name}} </td>
                        <td>
                            <a (click)="question(season);">
                                <i class="tiny material-icons">delete</i>
                            </a>
                            <a (click)="goChapters(season.id);">
                                <i class="tiny material-icons">add</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>