@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

.root{
    display: flex;
    flex-direction: column;
}

body{
    background-color: #22254b !important;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    background-color: #373b69;
    padding: 1rem;
}

option{
    background-color: #373b69;
}

header .form{
    display: flex !important;
    justify-content: flex-end !important;
}

.search{
    background-color: transparent;
    border: 2px solid #22254b;
    font-family: inherit;
    color: white;
    border-radius: 50px;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.movie{
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 1rem;
    width: 300px;
    position: relative;
}

.movie img{
    max-width: 100%;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-info{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3{
    margin: 0;
}

.movie-over{
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
    color: #22254b;
    padding: 1rem;
    bottom: 0;
    overflow: auto;
    max-height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over{
    transform: translateY(0%);
}

.remarks-movie{
    font-size: 0.75rem;
}